.cproject
.project
.settings/
linux-build/
bin/
*~
libraig
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
proj.android/assets/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/
CMakeCache.txt
CMakeFiles/
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/bullet/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
proj.win32/CMakeCache.txt
proj.win32/CMakeFiles/
proj.win32/Debug.win32/
proj.win32/RAIG3D.sdf
proj.win32/RAIG3D.v12.suo
proj.win32/RAIG3D.opensdf